development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
production:
  server: "http://example.com/faye"
  secret_token: "d941c9bf7c8052c65cb1d745271e3e105e3ea0daa21fa5689eaeef85f9bcba5d"
  signature_expiration: 3600 # one hour
